<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>



<div class="text-center my-wrapper stolen-surfbox">







<h1 class="text-center customfont3">LET'S SEE WHAT YOU'VE GOT</h1>




<div class="span4 offset5 text-center stolen-surfbox">

<%= simple_form_for @pic do |f| %>
	<%= f.input :hour, :label=>'HOURS', :placeholder => 'omg' %>

<br/>
<div class="text-center custom-font5">
	<%= f.input :image, :as => :file, :class => 'btn-custom' %>
</div>
<br/>
	<%= f.input :emotion, :label=>'MOOD', :placeholder=>'Feeling refreshed? Excited? Cranky?'%>

	<br/>
	<%= f.input :learned, :label=>'LEARNED', :input_html => { :rows => 7 }, :placeholder=>'To kill your mockingbird, what have you mastered?' %>

	<br/>
	<%= submit_tag "Save My DooDoo", :class => 'btn btn-success' %>


<% end %>
</div>
</div>

